ppls-car-booking-web-service/wsdl/car-book.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  
    xmlns:tns="http://www.example.org/CarBook/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="CarBook" 
    targetNamespace="http://www.example.org/CarBook/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/CarBook/">
            <xsd:element name="BookRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pickLocation" type="xsd:string"></xsd:element>
                        <xsd:element name="pickDateTime" type="xsd:dateTime"></xsd:element>
                        <xsd:element name="dropLocation" type="xsd:string"></xsd:element>
                        <xsd:element name="dropDateTime" type="xsd:dateTime"></xsd:element>
                        <xsd:element name="buyerName" type="xsd:string"></xsd:element>
                        <xsd:element name="buyerEmail" type="xsd:string" ></xsd:element>
                        <xsd:element name="carID" type="xsd:int" > </xsd:element>
                        <xsd:element name="pessengerID" type="xsd:string"></xsd:element>
                        <xsd:element name="pessengerName" type="xsd:string"></xsd:element>
                        <xsd:element name="pessengerEmail" type="xsd:string"></xsd:element>
                        <xsd:element name="pessengerPhone" type="xsd:string"></xsd:element>
                        <xsd:element name="pessengerAge" type="xsd:string"></xsd:element>
                        <xsd:element name="pessengerAddress" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>  
            </xsd:element>
            <xsd:element name="BookResponse">
                 <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="invoiceID" type="xsd:string"></xsd:element>
                        <xsd:element name="totalAmount" type="xsd:integer"></xsd:element>
                        <xsd:element name="bookingCode" type="xsd:string"></xsd:element>
                        <xsd:element name="status" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>     
            </xsd:element>            
        </xsd:schema>
    </wsdl:types>
<wsdl:message name="getBookRequest">
    <wsdl:part name="parameters" element="tns:BookRequest"/>
</wsdl:message>
<wsdl:message name="getBookResponse">
    <wsdl:part name="parameters" element="tns:BookResponse"/>
</wsdl:message>
<wsdl:portType name="BookPort">
    <wsdl:operation name="bookCar">
      <wsdl:input message="tns:getBookRequest"/>
      <wsdl:output message="tns:getBookResponse"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BookSOAP" type="tns:BookPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookCar">
      <soap:operation soapAction="bookCar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="BookService">
    <wsdl:port binding="tns:BookSOAP" name="BookSOAPPort">
      <soap:address location="http://167.205.35.228:8000/book/wsdl?wsdl"/>
  </wsdl:port>
</wsdl:service>
</wsdl:definitions>
